# Use main not master with all repos
alias gi='git init && git symbolic-ref HEAD refs/heads/main'

alias dev='cd ~/Development'
alias jp='cd ~/Development/jennapederson'

alias start-http='python3 -m http.server'